<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartengines">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application android:largeHeap="true">
        <activity
            android:name="com.smartengines.ScanSmartActivity"
       />
        <activity
            android:name="com.smartengines.MainResultView"
           />
    </application>
</manifest>